<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title> Orders </title>

        <link rel="stylesheet" href="../public/main.css">
        <link rel="stylesheet" href="../public/orders.css">
    </head>

    <body>

        <header class="main-header">
            <nav class="main-header-nav">
                
                <ul class="main-header-nav-ul">

                    <li class="main-header-nav-ul-li"> 
                        <a href="index.html"> Home</a>
                    </li>

                    <li class="main-header-nav-ul-li"> 
                        <a href="store.html"> Store </a>
                    </li>

                    <li class="main-header-nav-ul-li"> 
                        <a href=""> About </a>
                    </li>

                </ul>

            </nav>
        </header>

        <div class="title-div">
            <h1>The Generics</h1>
        </div>

        <h3 id="orders-heading"> Orders </h3>

        <section class="orders-section">
            <!-- <div id="orders" class="orders-section-div">
                <h5> Order ID: 1</h5>
                <ul>
                    <li id="${cartItems.id}" class="cart-list-ul-li">
                        <img src="${cartItems.imageUrl}" alt="${cartItems.title}">
                        <div class="title-div-cart"> ${cartItems.title} </div>
                        <div class="price-div-cart">$ ${cartItems.price} </div>
                        <input type="number" id="quantity-input" class="quantity-input" value="1">
                        <button class="remove-button" id="remove-button"> Remove </button>
                    </li>
                </ul>
            </div> -->
        </section>

        <footer class="main-footer">
            <nav class="main-footer-nav">

                <div class="main-footer-nav-div">
                    <h3> The Generics</h3>
                </div>

                <ul class="main-footer-nav-ul">

                    <li class="main-footer-nav-ul-li">
                        <a href="https://www.youtube.com" target="_blank">
                            <img class="img-class" src="https://cdn.pixabay.com/photo/2016/11/19/03/08/youtube-1837872__340.png" alt="Youtube">
                        </a>
                        
                    </li>

                    <li class="main-footer-nav-ul-li">
                        <a href="https://spotify.com/" target="_blank">
                            <img src="https://e7.pngegg.com/pngimages/158/639/png-clipart-spotify-streaming-media-logo-playlist-spotify-app-icon-logo-music-download-thumbnail.png" alt="Spotify">
                        </a>
                        
                    </li>

                    <li class="main-footer-nav-ul-li">
                        <a href="https://www.facebook.com/" target="_blank">
                            <img src="https://cdn.pixabay.com/photo/2015/05/17/10/51/facebook-770688__340.png" alt="Facebook">
                        </a>
                        
                    </li>

                </ul>

            </nav>
        </footer>
    </body>

    <script src="../scripts/orders.js"></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
</html>