.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
.form-control {
    margin: 1rem 0;
}
.form-control label,
.form-control input{
    display: block;
    width: 100%;
}

.form-control input {
    border: 1px solid #e3ca4e;
    font: inherit;
    border-radius: 2px;
}

button {
    font: inherit;
    border: 1px solid #283c65;
    color: #283c65;
    background-color: azure;
    border-radius: 3px;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: #6919b5;
    color: azure;
}